<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="qBittorrentTray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <qBittorrentTray.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>http://192.168.1.170:8080</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>Ugle</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAtcOvSHTcw0yyHnSUXOjrOQAAAAACAAAAAAAQZgAAAAEAACAAAAAQsWbgRORfutyFuxgmfOC2TknA10fNgFrCEKKlwiwI6AAAAAAOgAAAAAIAACAAAAA1zVG5Sgan6pwOK87Wu0y7NAicJqDfI3Ry2OSul7rMjiAAAAAR1owqGruarYEok3c9ieX0gAlpOhZ4hVki1C0v1oF+dUAAAABco1xltznPV7AwcBSyzF9k0hn4oAdNFWvnI8Wmrz27E6hsGqCJb2ILZ36vSPcLANdfgP16A8Oxf6b5qzNAvt+s</value>
            </setting>
            <setting name="MaxSeedingDays" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Action" serializeAs="String">
                <value>Do nothing</value>
            </setting>
            <setting name="DeleteTorrent" serializeAs="String">
                <value>True</value>
            </setting>
        </qBittorrentTray.Properties.Settings>
    </userSettings>
</configuration>